<div class="bs-docs-section">
	<div class="page-header">
    	<div class="row">
            <div class="col-lg-12">
              <h2>Moje projekty</h2>
            </div>
        </div>
    </div>
    
    <div class="row" ng-show="userType == 'student'">
        <div class="col-md-4 col-sm-6" ng-repeat="p in projects">
            <div class="panel panel-default">
                <div class="panel-heading">{{p.name}}</div>
                
                <div class="panel-body">
                    <p>
                        <strong>Przedmiot:</strong> {{p.subject.name + ' ' + getSubjectTypeText(p.subject.subject_type)}}
                    </p>
                    <p>
                        <strong>Prowadzący:</strong>
                        <p ng-repeat="t in p.teachers">{{t.academic_title + ' ' + t.first_name + ' ' + t.last_name }}</p>
                    </p>
                    <p>
                        <strong>Status:</strong>
                        <span class="label label-success" ng-if="p.approval_status == 'approved'">Zatwierdzony</span>
                        <span class="label label-default" ng-if="p.approval_status == 'expectant'">Czeka na akceptację</span> 
                        <span class="label label-danger" ng-if="p.approval_status == 'rejected'">Odrzucony</span>
                        <span class="label label-warning" ng-if="p.approval_status == 'to_improve'">Do poprawy</span> 
                        <span class="label label-info" ng-if="p.approval_status == 'finished'">Zakończony</span> 
                    </p>
                    <p>
                        <a class="btn btn-default btn-sm pull-right" href="#">Przejdź</a>
                    </p>
                </div>
            </div>
        </div>  
    </div>

    <div class="row" ng-show="userType == 'teacher'">
        <div class="col-md-4 col-sm-6" ng-repeat="p in projects">
            <div class="panel panel-default">
                <div class="panel-heading">{{p.name}}</div>
                
                <div class="panel-body">
                    <p>
                        <strong>Przedmiot:</strong> {{p.subject.name + ' ' + getSubjectTypeText(p.subject.subject_type)}}
                    </p>
                    <p>
                        <strong>Wykonawcy:</strong>
                        <p ng-repeat="m in p.members">{{m.first_name + ' ' + m.last_name }}</p>
                    </p>
                    <p>
                        <strong>Status:</strong>
                        <span class="label label-success" ng-if="p.approval_status == 'approved'">Zatwierdzony</span>
                        <span class="label label-default" ng-if="p.approval_status == 'expectant'">Czeka na akceptację</span> 
                        <span class="label label-danger" ng-if="p.approval_status == 'rejected'">Odrzucony</span>
                        <span class="label label-warning" ng-if="p.approval_status == 'to_improve'">Do poprawy</span> 
                        <span class="label label-info" ng-if="p.approval_status == 'finished'">Zakończony</span>
                    </p>
                    <p>
                        <a class="btn btn-default btn-sm pull-right" href="#">Przejdź</a>
                    </p>
                </div>
            </div>
        </div>  
    </div>

    <div ng-show="userType == 'teacher'" class="row">
        <a class="btn btn-primary" href="/projects/add_project">Dodaj temat</a>
    </div>
</div>