<div class="bs-docs-section">
	<div class="page-header">
    	<div class="row">
            <div class="col-lg-12">
              <h2>Moje projekty</h2>
            </div>
        </div>
    </div>
    
    <div class="row">
                <div class="col-md-4 col-sm-6" ng-repeat="p in projects">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{p.name}}</div>
                        <div class="panel-body">
                            <p>
                                Przedmiot: {{p.subject.name}}
                            </p>
                            <p>
                                Prowadzący:
                                <ul>
                                    <li ng-repeat="t in p.teachers">
                                        {{t.academic_title}} {{t.first_name}} {{ t.last_name }}
                                    </li>
                                </ul>
                            </p>
                            <p>
                                <a class="btn btn-primary btn-sm" href="#">Przejdź</a>
                            </p>
                        </div>
                    </div>
                </div>  
    </div>
</div>