<div class="bs-docs-section">
	<div class="page-header">
    	<div class="row">
            <div class="col-lg-12">
              <h2>Projekt</h2>
            </div>
        </div>
    </div>

    <div class="row">
    	<div class="col-lg-12">
    		<div class="row">
    			<strong>Temat:</strong> {{project.name}}
    		</div>
    		<div class="row">
				<strong>Prowadzący:</strong>
                <span ng-repeat="t in project.teachers">
                	{{t.academic_title + ' ' + t.first_name + ' ' + t.last_name + '; '}}
                </span>
    		</div>
            <div class="row">
            	<strong>Wykonawca / zespół:</strong>
               	<span ng-repeat="m in project.members">
               		{{m.first_name + ' ' + m.last_name + '; ' }}
               	</span>
            </div>
            <div class="row" ng-show="students.length > 0" style="margin-top: 5px;">
            	<div class="form-group col-lg-4">
            		<div class="col-lg-10">
            			<input type="text" class="form-control" ng-model="selectedStudent" typeahead="student as student.name for student in students | filter:{name:$viewValue}">
            		</div>
            		<div class="col-lg-2">
            			<button class="btn btn-primary btn-xs" ng-click="addMember(selectedStudent)">Dodaj</button>
            		</div>
            	</div>
            </div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-lg-6">
    		<h3>Do wykonania</h3>
    		<div class="row">

    		</div>
    	</div>
    	<div class="col-lg-6">
    		<h3>Repozytorium plików</h3>
    		<div class="row">

    		</div>
    	</div>
    </div>
</div>