<!DOCTYPE html>
<html ng-app="app">
<head>
  <title ng-bind="'Project Manager - ' + title">Project Manager</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default" ng-if="location.path() !== '/login'">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">Project Manager</a>
	  </div>
	  <div class="navbar-collapse collapse navbar-responsive-collapse">
	    <ul class="nav navbar-nav">
	      <li>
	      	<a href="/">Start</a>
	      </li>
	      <li class="dropdown">
	        <a id="projects" href="#" class="dropdown-toggle" data-toggle="dropdown">Projekty<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="/projects/my_projects">Moje</a></li>
	          <li><a href="/projects">Lista</a></li>
	          <li><a href="/project_edit/1">Archiwum</a></li>
	        </ul>
	      </li>
	    </ul>

		<ul class="nav navbar-nav">
	      <li class="dropdown">
	        <a id="diploma_thesis" href="#" class="dropdown-toggle" data-toggle="dropdown">Prace dyplomowe<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="/diploma_thesis/my_thesis">Moje</a></li>
	          <li><a href="/diploma_thesis">Lista</a></li>
	          <li><a href="/diploma_thesis/negotiation">Archiwum</a></li>
	        </ul>
	      </li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="/logout">Wyloguj</a></li>
	    </ul>
	  </div>
	</div>

	<div class="container" ng-view>
		<%= yield %>
	</div>
</body>
</html>
